---
title: Apps
---
extends layouts/_layout
block content
  .apps
    .container
      h1 Latest turnkey app projects
    .apps__block
      .container
        .row
          .col-lg-6.col-12
            h4 
              span Gary Bananas
            strong Description:
            p Dating app - Date your favorite celebrity lookalike.
            strong Technology Stack:
            p Client side running native iOS and native Android. 
            p Server side running Ruby on Rails, Mongo DB on AWS.
            strong Technology Services:
            p Messaging, high end UX/UI design, GEO location services, facial recognition engine, in - app analytics via appsFlyer.
          .col-lg-6.col-12
            .apps__block__img
              img(src="img/apps/apps-1.png", alt="")


    .apps__block.apps__block-secondary
      .container
        .row
          .col-lg-6.col-12.order-lg-1.order-2
            .apps__block__img
              img(src="img/apps/apps-2.png", alt="")
          .col-lg-6.col-12.order-1
            h4 
              span Morris the Pirate
            strong Description:
            p Dating app - Date your favorite celebrity lookalike.
            strong Technology Stack:
            p Client side running native iOS and native Android. 
            p Server side running Ruby on Rails, Mongo DB on AWS.
            strong Technology Services:
            p Messaging, high end UX/UI design, GEO location services, facial recognition engine, in - app analytics via appsFlyer.
    
    
    
    .apps__block
      .container
        .row
          .col-lg-6.col-12
            h4 
              span Crambox
            strong Description:
            p A comprehensive app for students who need to cram and rehearse for big exams.
            strong Technology Stack:
            p Client side running native iOS and native Android. 
            p Server side running Ruby on Rails, Mongo DB on AWS.
            strong Technology Services:
            p UX/UI, File management and integration , OCR technology, PDF annotations, social network integration. 
          .col-lg-6.col-12
            .apps__block__img
              img(src="img/apps/apps-3.png", alt="")


    .apps__block.apps__block-secondary
      .container
        .row
          .col-lg-6.col-12.order-lg-1.order-2
            .apps__block__img
              img(src="img/apps/apps-4.png", alt="")
          .col-lg-6.col-12.order-1
            h4 
              span rzmble
            strong Description:
            p Dating app - Date your favorite celebrity lookalike.
            strong Technology Stack:
            p Client side running native iOS and native Android. 
            p Server side running Ruby on Rails, Mongo DB on AWS.
            strong Technology Services:
            p Messaging, high end UX/UI design, GEO location services, facial recognition engine, in - app analytics via appsFlyer.
   
   
   
    .apps__block
      .container
        .row
          .col-lg-6.col-12
            h4 
              span Friendthem
            strong Description:
            p Dating app - Date your favorite celebrity lookalike.
            strong Technology Stack:
            p Client side running native iOS and native Android. 
            p Server side running Ruby on Rails, Mongo DB on AWS.
            strong Technology Services:
            p Messaging, high end UX/UI design, GEO location services, facial recognition engine, in - app analytics via appsFlyer.
          .col-lg-6.col-12
            .apps__block__img
              img(src="img/apps/apps-5.png", alt="")

              
    .apps__block.apps__block-secondary
      .container
        .row
          .col-lg-6.col-12.order-lg-1.order-2
            .apps__block__img
              img(src="img/apps/apps-6.png", alt="")
          .col-lg-6.col-12.order-1
            h4 
              span Muscle and Motion
            strong Description:
            p Over a million users ! Architected and developed by Emyoli for the web, iPad and Android platforms. M&M is an educational body anatomy content app.
            strong Technology Stack:
            p Client side running Adobe Air - hybrid technology.
            p Server side running PHP WP, MySQL DB on AWS.
            strong Technology Services:
            p Integration with BlueSnap payment gateway, management and distribution of thousands of video files.
    
    
    .apps__block
      .container
        .row
          .col-lg-6.col-12
            h4 
              span LaundryBuddy
            strong Description:
            p A utility cleaners app providing customers with the option to request a cleaner delivery.
            strong Technology Stack:
            p Client side running iOS native.
            p Server side running PHP WP, MySQL DB on AWS.
            strong Technology Services:
            p Native payment integration with Stripe, Map services , GEO location services, rating engine, order process management, user management, cleaners management.
          .col-lg-6.col-12
            .apps__block__img
              img(src="img/apps/apps-7.png", alt="")



    .apps__block.apps__block-secondary
      .container
        .row
          .col-lg-6.col-12.order-lg-1.order-2
            .apps__block__img
              img(src="img/apps/apps-8.png", alt="")
          .col-lg-6.col-12.order-1
            h4 
              span sms2list
            strong Description:
            p This intelligent mobile app is allowing friends and family members to share lists, add items and invite others to contribute via sms or email.
            strong Technology Stack:
            p Client side running native ios and native Android. Server side running Ruby, MySQL DB on AWS.
            strong Technology Services:
            p UX/UI, SMS integration, contacts list integration, email integration, user management, lists management, data mining and analytics.



    .apps__block
      .container
        .row
          .col-lg-6.col-12
            h4 
              span Deliveriz
            strong Description:
            p Coming soon! Shipping and delivery app for businesses and end users in NYC.
            strong Technology Stack:
            p Client side running iOS native, Android and Web.
            p Server side running PHP , MySQL DB on AWS
            strong Technology Services:
            p UX/UI, Payment gateway integration with BrainTree, categories management, product management, shopping cart  management, affiliation management, in app tracking.
          .col-lg-6.col-12
            .apps__block__img
              img(src="img/apps/apps-9.png", alt="")