---
title: Blog
---
extends layouts/_layout
block content
  .blog
    .container
      .row
        .col-lg-7.col-12
          .blog__content
            h2 Fears vs. facts – the real story behind working with developers in Ukraine
            h4 Sun 16 December 2018
            img(src="img/blog-img.png", alt="")
            p Security is at the forefront of everyone's minds these days, so perhaps it isn't surprising that one of the most common questions I hear from customers is: "Hey, shouldn't I be worried about my code being in the hands of some developer in Ukraine?" Essentially,…
            a(href="#").all-more continue reading...
          .blog__content
            h2 Fears vs. facts – the real story behind working with developers in Ukraine
            h4 Sun 16 December 2018
            img(src="img/blog-img.png", alt="")
            p Security is at the forefront of everyone's minds these days, so perhaps it isn't surprising that one of the most common questions I hear from customers is: "Hey, shouldn't I be worried about my code being in the hands of some developer in Ukraine?" Essentially,…
            a(href="#") ewrvejr
            a(href="#").all-more continue reading...
        .col-lg-5
          aside.blog__aside
            .blog__aside__section
              h3 Recent Posts
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.
            .blog__aside__section
              h3 Popular Posts
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.
              a(href="#").blog__aside__block
                img(src="img/blog__aside-img.png", alt="")
                div
                  p Fears vs. facts – the real story behind working with developers in Ukraine
                  span We all tend to cling to familiar things and established norms.