---
title: 15 minute call with Emyoli's CEO
---
extends layouts/_layout
block content
  .call
    .container
      .row
        .col-lg-6
          h1 15 minute call with Emyoli's CEO
          p Learn how to get started with setting a top-notch dedicated, remote, software team in Ukraine via a 15 minute zoom call with Evi Rachmilewitz, Emyoli's CEO.
          a(href="call-step-2.html") Schedule call
            +icon('double-left-chevron')
        .col-lg-6
          .call__img
            img(src="img/call-img.png", alt="")
            b Evi R.,<br>Founder & CEO, Emyoli Technologies.