---
title: Contact
---
extends layouts/_layout
block content
  .contact.contact--done
    .container
      .contact__title
        h2 thank you 
        p Your messsage was sent successfully.
      .contact__btn
        a(href="#")
          img(src="img/emyoli-blue.png", alt="")
          span offshore
        a(href="#")
          img(src="img/emyoli-grin.png", alt="")
          span go back Home
        a(href="#")
          img(src="img/emyoli-red.png", alt="")
          span APPS

