---
title: Index Page
---
extends layouts/_layout
block content
  a(href="#").chat 
    span Online
    img(src="img/chat.png", alt="")
  .home
    include ./home/intro
    include ./home/about
    .home-decor
    include ./home/partner
    include ./home/services
    .home-decor
    include ./home/baner
    section.home-video.home-video--primary
      .home-video__baner
        .container
          img(src="img/emyoli-apps-row.png", alt="")
      .home-video__content
        .container
          .row
            .col-lg-6.col-12.order-lg-1.order-2
              .home-video__block
                img(src="img/apps-video.png", alt="")
                a(href="#")
                  span Learn more
                  i
                    +icon('right-arrow')
            .col-lg-6.col-12.order-lg-2.order-1
              h3 Emyoli Apps: Reliable & Timely Development
              p In today’s mobile-centric marketplace, app development using both native and cross-platform technologies holds a huge profit potential. Emyoli develops custom apps (mobile and web) for businesses of all sizes, from small start-ups to global corporations, and has the expertise to handle the entire development lifecycle:  specs and design, software engineering, hosting and integration, and deployment.
              p Whether your app is designed for education, life style, productivity, dating, social networking, business, or another purpose, our team has the foresight to ensure a functional, stable, intuitive and great-looking finished product. We’re known for creating apps that offer consistent performance, scalability, and flexibility – you’ll be known for your credibility.
    .home-decor
    section.home-video
      .home-video__baner
        .container
          img(src="img/emyoli-offshore-row.png", alt="")
      .home-video__content
        .container
          .row
            .col-lg-6.col-12.order-lg-1.order-2
              .home-video__block
                img(src="img/ofshore-video.png", alt="")
                a(href="#")
                  span Learn more
                  i
                    +icon('right-arrow')
            .col-lg-6.col-12.order-lg-2.order-1
              h3 Emyoli Offshore: Affordable Outsourced Solutions
              p Many of today’s businesses have discovered the huge cost-saving benefits of outsourced solutions. Emyoli helps companies leverage the affordable expertise of a network of highly experienced, talented, and reliable professional software development teams in Eastern Europe, carefully leading them through the often fragile process.
              p Whether you’re interested in an initial development solution or looking to complement your own R&D division, Emyoli guarantees that your offshore team will have the required skillsets to deliver precisely what you need. By saving money – and increasing quality and performance - you’ll enjoy a significant boost in ROI.
    include ./home/360

