---
title: Offshore
---
extends layouts/_layout
block content
  .offshore
    .offshore__team
      .container
        h2 Offshore teams - emyoli partners
        .row
          .col-lg-6.col-12
            a(href="#").offshore__team__video
              img(src="img/offshore/partners-1.png", alt="")
          .col-lg-6.col-12
            h3 Andrey:
            p This established Eastern European tech firm specializes in enterprise Java and PHP programming, as well as Joomla and Wordpress content management systems. An Emyoli partner for several years, the firm employs only highly educated engineers with strong technical and social skills, and English-speaking fluency.
          .col-lg-6.col-12
            a(href="#").offshore__team__video
              img(src="img/offshore/partners-2.png", alt="")
          .col-lg-6.col-12
            h3 Dmitry:
            p This established Eastern European tech firm specializes in enterprise Java and PHP programming, as well as Joomla and Wordpress content management systems. An Emyoli partner for several years, the firm employs only highly educated engineers with strong technical and social skills, and English-speaking fluency.
          .col-lg-6.col-12
            a(href="#").offshore__team__video
              img(src="img/offshore/partners-3.png", alt="")
          .col-lg-6.col-12
            h3 Mykhalo:
            p This established Eastern European tech firm specializes in enterprise Java and PHP programming, as well as Joomla and Wordpress content management systems. An Emyoli partner for several years, the firm employs only highly educated engineers with strong technical and social skills, and English-speaking fluency.
            
