---
title: All Page
---
extends layouts/_layout
block content
  .pages
    .container
      h1 All Pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="offshore.html") Offshore