---
title: Top block
headerClass: header--top-video
---
extends layouts/_layout
block content
  .intro
    script.
      window.onload = function(){
        if(window.innerWidth >= 992)
        document.getElementById('video-1').innerHTML = '<video src="img/video.mp4" loop autoplay poster="img/video-top-block.jpg" preload="auto" muted playsinline></video>'
      };
    .intro__video#video-1
      //- video(src="img/video.mp4" loop autoplay poster="img/video-top-block.jpg" preload="auto" muted playsinline)
    .intro__content
      .container
        .row
          .col-lg-6.order-1
            .intro__title
              h1 We are committed to 
                b complete 
                | transparency and 100% 
                span accountability
          .col-lg-6.order-lg-1
            .intro__row
              .intro__block
                img(src="img/kellog.png", alt="")
                p Founded by Kellogg Northwestern Business School Graduates
              .intro__block
                img(src="img/ten-years.png", alt="")
                p Celebrating 10 Years in Business
  .block-map
    .container
      h2 Customers in 10 Countries!
      img(src="img/map.png", alt="")