---
title: Video Singl
---
extends layouts/_layout
block content
  .page
    .container
      h1 The Goal of This Series of Videos - Making You a Successful Software Entrepreneur
      .page__video
        img(src="img/offshore/partners-1.png", alt="")
    .container
      .page__back
        a(href="#")
          +icon('double-left-chevron')
          | Go Back