---
title: Videos
---
extends layouts/_layout
block content
  .page
    .page__block
      .container
        .page__block__row
          span 1
          div
            h2 
              a(href="#") The Goal of This Series of Videos - Making You a Successful Software Entrepreneur
            p My goal is to create a series of videos that will help software entrepreneurs become successful ! I believe I gained over the years the experience and know how to assist you in building a business that is based on software and is generating for you recurring revenues and a profitable model.
    .page__block
      .container
        .page__block__row
          span 2
          div
            h2 
              a(href="#") The Goal of This Series of Videos - Making You a Successful Software Entrepreneur
            p My goal is to create a series of videos that will help software entrepreneurs become successful ! I believe I gained over the years the experience and know how to assist you in building a business that is based on software and is generating for you recurring revenues and a profitable model. 
    .page__block
      .container
        .page__block__row
          span 3
          div
            h2 
              a(href="#") The Goal of This Series of Videos - Making You a Successful Software Entrepreneur
            p My goal is to create a series of videos that will help software entrepreneurs become successful ! I believe I gained over the years the experience and know how to assist you in building a business that is based on software and is generating for you recurring revenues and a profitable model.
    .page__block
      .container
        .page__block__row
          span 4
          div
            h2 
              a(href="#") The Goal of This Series of Videos - Making You a Successful Software Entrepreneur
            p My goal is to create a series of videos that will help software entrepreneurs become successful ! I believe I gained over the years the experience and know how to assist you in building a business that is based on software and is generating for you recurring revenues and a profitable model.