.contact
  padding: 50px 0 130px
  background-repeat: no-repeat
  background-size: 100% auto
  background-image: url('../img/contact-bg.png')
  background-position: center 100%
  +r(1850)
    background-size: contain
  +r(767)
    padding: 40px 0 60px
  form
    min-height: 1050px
    +r(767)
      min-height: auto
  &__title
    h1, h2
      font-weight: bold
      font-size: 48px
      color: #000
      text-align: center
      align-items: 1.5
      margin-bottom: 10px
      +r(767)
        font-size: 30px
    h2
      margin-bottom: 60px
      +r(767)
        margin-bottom: 30px
    b
      font-size: 36px
      color: #000000
      font-weight: normal
      max-width: 1300px
      width: 100%
      +relative-x
      display: block
      text-align: center
      margin-bottom: 60px
      strong
        font-weight: bold
      +r(767)
        font-size: 22px
        margin-bottom: 30px
    span
      font-size: 36px
      color: #000
      text-decoration: underline
      text-align: center
      display: block
      margin-bottom: 60px
      font-weight: normal
      +r(767)
        font-size: 22px
    button
      background: #7CD90F
      border-radius: 6px
      padding: 20px 140px 20px 40px
      +center
      max-width: 650px
      width: 100%
      +relative-x
      font-weight: bold
      font-size: 36px
      color: #fff
      position: relative
      +tr
      +r(767)
        font-size: 30px
        padding: 10px 50px 10px 20px
      +r(530)
        font-size: 20px
      svg
        fill: #fff
        transform: rotate(180deg)
        width: 60px
        height: 60px
        +tr
        position: absolute
        right: 40px
        +r(767)
          right: 10px
          width: 30px
          height: 30px
      &:hover
        text-decoration: underline
        svg
          right: 25px

  &__form
    max-width: 715px
    width: 100%
    +relative-x
    h2
      margin-bottom: 5px
    p
      color: #7CD90F
      text-align: center
      opacity: 0
      line-height: 1.5s
    span
      font-weight: bold
      font-size: 24px
      color: #000
      line-height: 1.5
      display: block
      +r(767)
        font-size: 20px
      &:after
        content: '*'
        font-size: 22px
        color: #000
        position: relative
        top: -2px
        left: 1px
    input, textarea
      background: #FFFFFF
      border: 2px solid #BDBDBD
      border-radius: 6px
      padding: 10px 30px
      font-size: 36px
      color: #000
      width: 100%
      display: block
      +placeholder-color(#BDBDBD)
      +tr
      margin-bottom: 20px
      +r(767)
        font-size: 20px
        padding: 10px 15px
        margin-bottom: 10px
      &:valid
        border-color: #7CD90F
      &:focus
        border: 2px solid #7CD90F
    input[type="checkbox"]
      display: none
      &:checked + label
        &:before
          opacity: 0
        svg
          opacity: 1
    label
      font-size: 36px
      color: #000000
      padding-left: 50px
      position: relative
      margin: 40px 0
      display: block
      +r(767)
        font-size: 25px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 14px
        width: 30px
        height: 30px
        border-radius: 50%
        border: 5px solid #7CD90F
        +tr
        +r(767)
          top: 5px
      svg
        opacity: 0
        width: 30px
        height: 35px
        fill: #7CD90F
        position: absolute
        left: 0
        top: 10px
        +tr
    textarea
      height: 205px
      +r(767)
        height: 250px
    a
      background: #7CD90F
      border-radius: 6px
      padding: 20px 0
      +center
      width: 100%
      +relative-x
      font-weight: bold
      font-size: 36px
      color: #fff
      margin-top: 30px
      +tr
      +r(767)
        font-size: 30px
        padding: 14px 0
        margin-top: 20px
      svg
        fill: #fff
        transform: rotate(180deg)
        width: 30px
        height: 30px
        margin-left: 30px
        +tr
        position: relative
        left: 0
        +r(767)
          margin-left: 10px
          width: 25px
      &:hover
        text-decoration: underline
        svg
          left: 7px
    &__input.invalid 
      input, textarea
        border-color: #EB2629
      label
        color: #EB2629



  &__btn
    display: flex
    justify-content: space-around
    +r(1300)
      flex-direction: column
      align-items: center
    a
      border-radius: 20px
      display: flex
      align-items: center
      padding-left: 20px
      overflow: hidden
      background: #fff
      max-width: 415px
      width: 100%
      +r(1300)
        margin-bottom: 20px
      img
        width: 125px
        +r(767)
          width: 70px
      span
        font-weight: bold
        font-size: 30px
        text-transform: uppercase
        padding: 20px 5px
        width: 260px
        +center
        color: #fff
        flex: 1
        position: relative
        +r(767)
          font-size: 20px
        &::before
          content: ''
          height: 100%
          width: 0
          border: 90px solid transparent
          border-left: 30px solid #fff
          position: absolute
          left: 0
          bottom: 0
          +tr
      &:nth-child(1)
        border: 3px solid #1DBECF
        span
          background: #1DBECF
      &:nth-child(2)
        border: 3px solid #7CD90F
        span
          background: #7CD90F
      &:nth-child(3)
        border: 3px solid #A92D91
        span
          background: #A92D91
      &:hover span::before
        border-left: 40px solid #fff


  &__check
    width: 100%
    padding-top: 130px
    display: none
    +r(767)
      padding-top: 0

  &.contact--done
    background-image: url('../img/contact-done-bg.png')
    background-position: center
    .contact__title 
      h2
        margin-bottom: 80px
      p
        font-size: 36px
        color: #000
        font-weight: normal
        text-align: center
        margin-bottom: 120px