//BEGIN footer
footer.footer
  .container
    .footer__row
      .footer__block
        h3 Recent Posts
        h4 Fears vs. facts – the real story behind working with developers in Ukraine
        p Security is at the forefront of everyone's minds these days, so perhaps…
        h4 In-house? Off-site? It's really just a question of psychology
        p We all tend to cling to familiar things and established norms. Even…
        h4 We all tend to cling to familiar things and established norms. Even…
        p I don't have a clever punchline for you, but it's no secret…
      .footer__block
        h3 Most viewed Testimonials
        h4 Daniel Sarfati, CEO, Applango
        p "Emyoli has a rich offshore portfolio which can be activated quickly and they are all carefully checked."
        h4 Boaz Shedletsky, CBDO, CET
        p "Their professionalism, accountability and accessibility make emyoli my first choice"
      .footer__block.footer__block-social
        a(href="#")
          +icon('twitter')
        a(href="#")
          +icon('fb')
        a(href="#").btn contact 
//END footer