//BEGIN header
header.header
  .container-fluid
    .header__row
      .header__nav
        .header__logo
          .menu-open
            span
          img(src="img/logo.png", alt="")
        ul
          li
            a(href="#") videos
          li
            a(href="#") apps
          li.active
            a(href="#") offshore
          li
            a(href="#") blog
          li
            a(href="#") download e-book
          li
            a(href="#") about
          li
            a(href="#") 360
      .header__btn
        a(href="#").hidden-xs תירבע
        a(href="#").btn contact
.bg
//END header
