.header
  border-bottom: 1px solid rgba(#E7E7E7, 0.6)
  position: relative
  z-index: 9
  background: #fff
  padding: 8px 60px
  +r(1450)
    padding: 8px 0
  +r(1040)
    position: fixed !important
    background: #fff !important
    top: 0
    left: 0
    width: 100%
  +r(767)
    padding: 20px 0
  &--call
    +r(992)
      .header__btn
        opacity: 0
        visibility: hidden
  &--top-video
    +rmin(1040)
      position: absolute
      top: 0
      left: 0
      width: 100%
      background: none
      border-bottom: none
      .header__nav ul li.item-116 a:before
        background: #fff
      .header__nav a, .header__btn a
        color: #fff !important
  &__row
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  .menu-open
    position: relative
    width: 30px
    height: 20px
    margin-right: 15px
    display: none
    +r(1040)
      display: block
    span
      width: 30px
      height: 3px
      background: #000
      border-radius: 5px
      display: block
      +tr
      &:before, &:after
        content: ''
        width: 30px
        height: 3px
        background: #000
        border-radius: 5px
        display: block
        +tr
        position: absolute
      &:before
        top: 8px
      &:after
        bottom: 0
    &.active
      span
        width: 0
        &:before
          transform: rotate(45deg)
          top: 10px
        &:after
          transform: rotate(-45deg)
          top: 10px
  &__logo
    display: flex
    justify-content: space-between
    align-items: center
    padding-right: 50px
    +r(767)
      padding-right: 0
    img
      height: 73px
      +r(767)
        height: 50px
      +r(374)
        height: 47px
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    &.active
      ul
        left: 0
    a
      font-weight: bold
      font-size: 24px
      color: #1DBECF
      line-height: 30px
      display: flex
      align-items: center
      margin-right: 25px
      +r(1040)
        padding-bottom: 20px
        margin-right: 0
        display: inline-block !important
      &:hover
        text-decoration: underline
    ul
      display: flex
      +r(1040)
        position: fixed
        left: -80%
        top: 91px
        width: 240px
        height: calc(100% - 90px)
        background: #fff
        flex-direction: column
        justify-content: flex-start
        padding: 30px
        overflow: auto
        transition: all 0.6s
      li
        &.active
          a
            color: #000
        a
          +r(1040)
            font-size: 20px
        &.item-116
          a
            position: relative
            color: #000
            font-weight: normal
            &:before
              content: ''
              width: 3px
              height: 23px
              background: #000
              display: block
              margin-right: 25px
              +r(1040)
                width: 25px
                height: 3px
                margin-right: 0
                margin-bottom: 20px
            &:after
              content: ''
              position: absolute
              width: 7px
              height: 7px
              background: #7CD90F
              border-radius: 50%
              right: -4px
              top: 0
              +r(1040)
                top: 21px
                right: -6px
        &.item-209
          display: none
          +r(1040)
            display: block
            a
              font-weight: bold
  &__btn
    display: flex
    align-items: center
    a
      font-weight: bold
      font-size: 24px
      color: #1DBECF
      line-height: 30px
      display: flex
      align-items: center
      margin-left: 0px
      &:hover
        text-decoration: underline
    .btn
      background: #EB2629
      border: 1px solid #EB2629
      border-radius: 6px
      font-weight: bold
      font-size: 26px
      color: #fff
      width: 160px
      height: 53px
      display: flex
      margin-left: 30px
      align-items: center
      justify-content: center !important
      +r(767)
        width: 140px
        height: 50px
        font-size: 28px
        margin-left: 0
      &:hover
        background: none
        color: #EB2629
        text-decoration: none
              
.bg
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.4)
  z-index: 8
  display: none