.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-double-left-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-tel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
