section.home-360
  .container
    .home-360__img
      img(src="img/emyoli-360.png", alt="")
    .row
      .col-lg-6.col-12
        a(href="#").home-360__video
          img(src="img/360-video.png", alt="")
      .col-lg-6.col-12
        h3 Emyoli 360⁰: The Best of All Worlds
        p In today’s constantly changing and highly competitive tech field, there’s no “one size fits all” approach. Emyoli 360⁰ gives you the freedom to leverage all three of our core services in one bundled package.
        p Get custom app development with Emyoli Apps and utilize the expertise of global development teams through Emyoli Offshore.