section.home-about
  .container
    h2 WHAT CUSTOMERS ARE SAYING ABOUT US
    .row
      .col-lg-6.col-12
        p “The team at Emyoli controls the process of developing a mobile app realizing it’s a business. Their turnkey approach helps in managing the overall aspects of our business. To me Evi is an acting CTO I can trust to deliver a top notch… 
          a(href="#") read more
        b — By Gary Apple Founder at Rzmble
        p “Emyoli did an amazing job for us as a genuine turnkey service provider. The team has cutting-edge talent, willingness to work hard and accountability to their actions. They are defined as an outsource company but in practice made us feel they… 
          a(href="#") read more
        b — By Darren Adams Founder at Hallchatter
      .col-lg-6.col-12
        p “I am very grateful for Emyoli’s service and dedication and am confident that Muscle & Motion is covered for the long term by this talented, reliable tech provider. “
        b — By Amit Gal – Alon, Founder & CEO at Muscle and Motion
        p “Emyoli provided clear milestones with tasks accountability. They were also able to give solid suggestions to improve the requirements and behavior of the end-product. Good quality design and coding. By no doubt, Emyoli is a 5 stars company -… 
          a(href="#") read more
        b — By Terence Tan, Founder of the BidTutor app