section.home-baner
  .container
    .row
      .col-lg-6.col-12
        h3 Trust emyoli to deliver quality, longevity and results
      .col-lg-6.col-12
        .home-baner__img
          img(src="img/btn-1.png", alt="")
          img(src="img/btn-2.png", alt="")
          img(src="img/btn-3.png", alt="")