section.home-intro
  .container
    div.hidden-xs
      h1 How Will I  Know if I’m Hiring The Right Software Development Company?
      h2 This e-book by Evi.R 
      h2 breaks it down in 10 simple steps
      p — Evi R. 
      p Founder & CEO Emyoli Technologies
    div.hidden-sm.hidden-md
      h1 Am I hiring the right developers?
      h2 This free e-book can help
    //- img(src="img/person.png", alt="")