section.home-partner
  .container
    .row
      .col-lg-6.col-12
        .home-partner__img
          img(src="img/emyoli-offshore.png", alt="")
          img(src="img/emyoli-apps.png", alt="")
      .col-lg-6.col-12
        .home-partner__content
          h3 Your Full-Service Technology Partner
          p At Emyoli, one of the top mobile app and offshore software development companies, we develop high-performing mobile applications, help customers utilize Amazon’s AWS hosting environment, and enable companies to leverage our cost-effective expertise of offshore software development teams.
          a(href="#") Play The Video
            img(src="img/arrow-right.png", alt="")