section.home-services
  .container
    h2 Our Services
    .home-services__row
      .home-services__block
        a(href="#")
          img(src="img/emyoli-offshore-video.png", alt="")  
        div
          img(src="img/emyoli-offshore-row.png", alt="")
          p “Emyoli has a rich offshore portfolio which can be activated quickly and they are all carefully checked."
      .home-services__block
        a(href="#")
          img(src="img/emyoli-apps-video.png", alt="")
        div
          img(src="img/emyoli-apps-row.png", alt="")
          p “Their professionalism, accountability, and accessibility make Emyoli my first choice."